@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./dog_and_cat_pattern-16.jpg);
    background-size: contain;
    background-repeat: repeat;   
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 3em;
    color: black;
    background-color: rgba(255, 255, 255, 0.565);
    font-family: "Bitcount Grid Double", system-ui; ;
}

#gif{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
img{
        border: 10px rgba(255, 0, 0, 0.51) solid;

}